name: Publishing Documentation Site

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docs-pages.yml'
      - 'antora/**'
      - 'doc/**'

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16.x'
          cache: 'npm'
          cache-dependency-path: 'antora/package-lock.json'
      - name: Build docs
        working-directory: antora
        # language=shell
        run: |
          ./build.sh
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: antora/_site/keycloak-antora

  github-pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    name: GitHub Pages
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
